* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: arial;

  .view {
    border: solid black 1px;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 50%;
    overflow-y: scroll;

    h2 {
      flex-basis: 100%;
      margin: 1rem;
      font-size: 3rem;
    }

    article.cell {
      border: solid red 1px;
      height: 10rem;
      width: 10rem;
      text-align: center;
      padding-top: 3rem;
      font-size: 3rem;
      color: gray;

      p {
        background: none;
      }

      p.number {
        display: none;
      }

      p.placeholder {
        font-size: 1.5rem;
      }

      &.is-view {
        color: red;
        font-weight: bold;
        background-image: url(https://source.unsplash.com/random/160x160);

        p.placeholder {
          display: none;
        }

        p.number {
          display: block;
        }
      }
    }
  }
}
