* {
  margin: 0;
  box-sizing: border-box;
}

main {
  font-family: arial;
  display: flex;

  section {
    width: 50vw;
    &.display {
      border: solid black 1px;
      display: flex;
      flex-wrap: wrap;
      height: 100vh;
      width: 50%;
      overflow-y: scroll;

      h2 {
        flex-basis: 100%;
        margin: 1rem;
        font-size: 3rem;
      }

      article.cell {
        border: solid red 1px;
        color: gray;
        height: 10rem;
        margin: 1rem;
        overflow: hidden;
        position: relative;
        width: 10rem;

        img.image-display {
          position: absolute;
          top: 0;
          left: 0;
          display: none;
        }

        p {
          background: none;

          &.number-display {
            color: red;
            display: none;
            font-size: 3rem;
            position: absolute;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
          }
        }

        &.is-view,
        &.is-react {
          color: red;
          font-weight: bold;
          p.number-display,
          img.image-display {
            display: block;
          }
        }
      }

      &.list-view {
        article.cell {
          width: 100%;
        }
      }
    }

    &.controller {
      padding: 1rem;

      > h2,
      p {
        margin-bottom: 1rem;
      }

      input.value-display {
        width: 3rem;
      }

      .observer-option {
        display: flex;
        flex-direction: row;
        margin-bottom: 1rem;

        input {
          margin: 0 1rem;
        }

        input[type="range"] {
          flex-grow: 1;
        }
      }
    }
  }
}
